
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('C:\Users\white\Music\hall booking2\hallbooking\src\b5.jpg');
  background-size: cover; /* Ensure the image covers the entire element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center center; /* Center the image */
  min-height: 100vh;

}
.a1{
  
  margin-left: 150px;
}
.login-form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.ce {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #5151E5;
  outline: none;
  box-shadow: 0 0 5px rgba(81, 81, 229, 0.5);
}

.login-button {
  width: 100%;
  padding: 12px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-button:hover {
  background: #3d3d85;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}
